Package: menupro-ui
Version: 1.0.2
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Adriano Dias de Jesus <adriano@voceconfia.com.br>
Depends: xdg-utils, openssh-client, freerdp2-x11 | freerdp3-x11 | freerdp-x11
Description: MenuProUI - gerenciador de acessos SSH/RDP/URLs
 Aplicação Avalonia para organizar acessos por cliente, com exportação em CSV.
 Não armazena senhas.
